server:
  port: 9002 # Assign a unique port for each service

spring:
  application:
    name: vehicle-management-service
  datasource:
    url: jdbc:postgresql://localhost:5432/trackstar_db
    username: user
    password: password
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true
