spring:
  application:
    name: eureka-server

  security:
    user:
      name: eureka-user
      password: ${EUREKA_PASSWORD:secret}

eureka:
  client:
    register-with-eureka: false
    fetch-registry: false
  server:
    enable-self-preservation: false

server:
  port: 8761
